@font-face {
    font-family: Montserrat-ExtraBold;
    src: url('Montserrat-ExtraBold/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'), 
    url('Montserrat-ExtraBold/Montserrat-ExtraBold.otf') format('opentype'), 
    url('Montserrat-ExtraBold/Montserrat-ExtraBold.woff') format('woff'), 
    url('Montserrat-ExtraBold/Montserrat-ExtraBold.ttf') format('truetype'), 
    url('Montserrat-ExtraBold/Montserrat-ExtraBold.svg#Monserrat-ExtraBold') format('svg');
  }
  
  @font-face {
    font-family: Montserrat-Light;
    src: url('Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'), 
    url('Montserrat-Light/Montserrat-Light.otf') format('opentype'), 
    url('Montserrat-Light/Montserrat-Light.woff') format('woff'), 
    url('Montserrat-Light/Montserrat-Light.ttf') format('truetype'), 
    url('Montserrat-Light/Montserrat-Light.svg#Monserrat-Light') format('svg'); 
  }

  @font-face {
    font-family: Montserrat-SemiBold;
    src: url('Montserrat-SemiBold/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), 
    url('Montserrat-SemiBold/Montserrat-SemiBold.otf') format('opentype'), 
    url('Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff'), 
    url('Montserrat-SemiBold/Montserrat-SemiBold.ttf') format('truetype'), 
    url('Montserrat-SemiBold/Montserrat-SemiBold.svg#Monserrat-SemiBold') format('svg'); 
  }
  @font-face {
    font-family: Montserrat-Bold;
    src: url('Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), 
    url('Montserrat-Bold/Montserrat-Bold.otf') format('opentype'), 
    url('Montserrat-Bold/Montserrat-Bold.woff') format('woff'), 
    url('Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'), 
    url('Montserrat-Bold/Montserrat-Bold.svg#Monserrat-SemiBold') format('svg'); 
  }