<ion-header size="large">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">

  <h1>FastFood</h1>
  <span>login</span>
  <ion-input placeholder='Correo Electronico' mode='ios' [(ngModel)]="email" class="ion-margin-top ion-margin-bottom"></ion-input>
  <span class="quetion-favorites ion-margin-top">¿Cuál es tu comida rápida favorita?</span>
  <mat-grid-list cols="3" rowHeight="1:1" class="ion-margin-top ion-margin-bottom">
    <mat-grid-tile *ngFor="let image of images" (click)='selectImage(image)' [ngClass]="{'selectedFood': password['food']==image.id}" >
      <img [src]="image.url">
    </mat-grid-tile>
  </mat-grid-list>
  <span class="quetion-favorites">¿Cuáles son tus ingredientes favoritos?</span>
  <mat-grid-list cols="4" rowHeight="1:1" class="ion-margin-top ion-margin-bottom" >
    <mat-grid-tile *ngFor="let image of imagesIng, let i=index" (click)='selectIng(i)' matRipple
    matRippleCentered="true"
    matRippleColor="#FFE9B0">
      <img [src]="image.url">
      <span class="foodName">{{image.name}}</span>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-chip-list *ngIf="passImage" class="ion-margin-top ion-margin-bottom">
    <mat-chip  class='chipMargin' *ngFor="let item of password['ingredients']"><img class="chipImg" [src]="passImage" alt=""></mat-chip> 
    <mat-chip *ngIf="password['ingredients'].length>=1" (click)="clearPass()"><mat-icon>close</mat-icon></mat-chip> 
  </mat-chip-list>
  <button class="ini-button ion-margin-top" (click)="captchaRef.execute()">Ingresar</button> 
  <button class="reg-button ion-margin-top">Cambie de sabores...</button> 

</ion-content>

<ion-footer>
  <ion-toolbar>
    <img src="../../../assets/recursos-fast-food/logo-yo-soy-groot.png" alt="">
  </ion-toolbar>
</ion-footer>
<re-captcha size="invisible" (resolved)="resolved($event)" #captchaRef="reCaptcha" siteKey="6LfzouAUAAAAALYxvAbL1qf1vmjrAl7FrJGV8McK"></re-captcha>`