ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: transparent;
  }
  div{
    top: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
  margin: 0;
  font-family: Montserrat-ExtraBold;
}

ion-input{
  --color:black;
  font-family: Montserrat-light;
    border: solid 1px #C4C4C4;
    border-radius: 30px;
}
.quetion-favorites{
color:black;
font-family: Montserrat-Bold;
}

mat-grid-tile {
  border-radius: 50%;
}

.foodName{
color:#383838;
font-size: 11px;
font-family: Montserrat-SemiBold;
}
.ini-button{
  border-radius: 30px;
  color: #FFFFFF;
  height: 2rem;
  width: 11rem;
  background-color:#FCBD10 ;
  font-size: 18px;
  margin: 5px;
  font-family: Montserrat-ExtraBold;
  outline: none;
}
.chipImg{
width: 20px;
}

.chipMargin{
  margin: 0 !important;
}

.selectedFood{
    border-radius: 50%;
    background-color: #FFE9B0;
}

.reg-button{
  color: #383838;
  height: 2rem;
  width: 11rem;
  background-color: transparent;
  font-size: 12px;
  margin: 5px;
  font-family: Montserrat-SemiBold;
  outline: none;
}