
ion-input{
    --color:black;
    font-family: Montserrat-light;
      border: solid 1px #C4C4C4;
      border-radius: 30px;
  }
  h1{
    margin: 0;
    font-family: Montserrat-ExtraBold;
  }
  span{
    color: #383838;
    font-family: Montserrat-Light;
  }
  ion-select{
    --placeholder-color:#383838;
    font-family: Montserrat-light;
    border: solid 1px #C4C4C4;
    border-radius: 30px;
     color:#383838
  }
div{
  margin-top: 25px;
  margin-bottom: 25px;
}
  .ini-button{
    border-radius: 30px;
    color: #FFFFFF;
    height: 2rem;
    width: 11rem;
    background-color:#FCBD10 ;
    font-size: 18px;
    margin: 5px;
    font-family: Montserrat-ExtraBold;
    outline: none;
  }
