<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <h1>FastFood</h1>
  <span>login</span>
  <form action="" [formGroup]="registerForm">
    <div>
      <ion-input formControlName='nombre' placeholder='¿Cuál es tu nombre?' mode='ios'></ion-input>
    </div>
    <div>
      <ion-input formControlName='apellido' placeholder='¿Cuál es tu apellido?' mode='ios'></ion-input>
    </div>
    <div>
      <ion-input formControlName='email' placeholder='¿Cuál es tu correo electrónico?' mode='ios'></ion-input>
    </div>
    <div>
      <span>Responde estas preguntas para poder desarrollar la clave según tus gustos</span>
    </div>
    <div>
      <ion-select formControlName='password' placeholder="Comida rápida favorita" okText="Okay" cancelText="Dismiss"
        interface="popover">
        <ion-select-option *ngFor="let image of images" [value]="image">{{image.name}}</ion-select-option>
      </ion-select>
    </div>


    <button class="ini-button" (click)='goPassword()' [disabled]='!registerForm.valid'>Continuar</button>
    <button class="ini-button" (click)='goBack()'>Cancelar</button>
  </form>

</ion-content>