<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="background">
  <div>
    <h1>FastFood</h1>
    <span>Login</span>
    <ion-slides #Slides pager="false" [options]='sliderOptions' class="ion-padding">
      <ion-slide *ngFor="let slide of images">
        <img [src]="slide" alt="">
      </ion-slide>
    </ion-slides>
    <button class="ini-button" [routerLink]="'/login'">Iniciar sesión</button>
    <button class="reg-button" [routerLink]="'/register'">Regístrarte</button>
    <button class="ab-button" [routerLink]="'/about-us'">Sobre Nosotros</button>

  </div>
</ion-content>