ion-content{
    // background-image: url();
    --background: #fff url('../../../assets/recursos-fast-food/fondo-amarillo.png') no-repeat center center / cover;
    
}
.background{
    display: flex;

}
h1{
    margin: 0;
    font-family: Montserrat-ExtraBold;
}
div{
    top: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span{
    text-align: center;
    font-family: Montserrat-light;
}
.ini-button{
    border-radius: 30px;
    color: #FCBD10;
    height: 2rem;
    width: 11rem;
    background-color: #fff;
    font-size: 18px;
    margin: 5px;
    font-family: Montserrat-ExtraBold;
    outline: none;
}
.reg-button{
    color: #383838;
    height: 2rem;
    width: 11rem;
    background-color: transparent;
    font-size: 18px;
    margin: 5px;
    font-family: Montserrat-SemiBold;
    outline: none;
}
.ab-button{
    color: #383838;
    height: 2rem;
    width: 11rem;
    background-color: transparent;
    font-size: 18px;
    margin: 5px;
    font-family: Montserrat-SemiBold;
    outline: none;
}
ion-slides{
    width: 100%;
}
ion-slide{
    width: 100%;
}