/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
body{
  color: black;
}
  ion-header{
    ion-toolbar{
   --background:  #fff url('assets/recursos-fast-food/header-solo.png') no-repeat center center / cover;
   --border-color: transparent !important;
   --min-height:85px ;
 }

 }
  ion-footer{
    ion-toolbar{
      --background: #fff;
      --border-color: transparent;
      --min-height:85px;
     img{
      height: 25px;
      display: block;
      margin: 0 auto;
     }
    }
  }
  ion-back-button{
    --color:#383838;
  }
  h1{
    color: #383838;
  }
  .mat-figure{
    flex-direction: column;
    z-index: 1;
  }
  .mat-chip-list-wrapper{
    justify-content: center;
    margin: 10px !important
  }

  .mat-standard-chip{
    height: auto !important;
    background-color: transparent !important;
  }
  ion-content{
    --background: #fff
}
.action-sheet{
  color:#FEC42D !important;
}
