<ion-header>
  <ion-toolbar mode="ios" [ngClass]="{'hamBanner': data.password.id==3, 'burroBanner': data.password.id==1, 'pizBanner': data.password.id==2}">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="ion-margin-top ion-margin-bottom">
  <h1 >FastFood</h1>
</div>
  <div class="ion-margin-top ion-margin-bottom">
    <span>Responde estas preguntas para poder desarrollar la clave según tus gustos</span>
  </div>
<h1 class="foodName ion-margin-top ion-margin-bottom">{{data.password.name}}</h1>
  <ion-select [disabled]="ingredients" class="ion-margin-top ion-margin-bottom" #select placeholder="Comida rápida favorita" interface="action-sheet" okText="Me gusta" cancelText="Dismiss" (ionChange)='setPassword($event)' >
    <ion-select-option *ngFor="let item of imagesIng" [value]="item.id">{{item.name}}</ion-select-option>
  </ion-select>
  <div class="ion-margin-top ion-margin-bottom">
    <span>Responde estas preguntas para poder desarrollar la clave según tus gustos: <p>
    {{ingredientList}}
  </p>
</span>
</div>
  <button class="ini-button ion-margin-top" (click)="captchaRef.execute()">¡Perfecta!</button> 
  <button class="ini-button ion-margin-top" (click)="cancel()">Repetir</button> 
  
</ion-content>
<re-captcha size="invisible" (resolved)="resolved($event)" #captchaRef="reCaptcha" siteKey="6LfzouAUAAAAALYxvAbL1qf1vmjrAl7FrJGV8McK"></re-captcha>`