.action-sheet{
    color:#FEC42D !important;
}

// ion-header{
//     ion-toolbar{
//    --background:  #fff url('../../../assets/recursos-fast-food/franjaburguer.png') no-repeat center center / cover;
//    --border-color: transparent !important;
//    --min-height:85px ;
//  }}

 .hamBanner{
    --background:  #fff url('../../../assets/recursos-fast-food/franjaburguer.png') no-repeat center center / cover;

 }
 .burroBanner{
    --background:  #fff url('../../../assets/recursos-fast-food/franja-burrito.png') no-repeat center center / cover;
 }
.pizBanner{
    --background:  #fff url('../../../assets/recursos-fast-food/franja-pizza.png') no-repeat center center / cover;
}
h1{
    color: #383838;
    margin: 0;
    font-family: Montserrat-ExtraBold;
  }

  ion-select{
    --placeholder-color:#383838;
    font-family: Montserrat-light;
    border: solid 1px #C4C4C4;
    border-radius: 30px;
     color:#383838
  }
  p{
    font-family: Montserrat-Bold;
    margin: 0;
  }

  span{
    font-family: Montserrat-Light;
    color: #383838;
    margin: 0;  
  }
  .foodName{
      color:#FEC42D ;
  }

  .ini-button{
    border-radius: 30px;
    color: #FFFFFF;
    height: 2rem;
    width: 11rem;
    background-color:#FCBD10 ;
    font-size: 18px;
    margin: 5px;
    font-family: Montserrat-ExtraBold;
    outline: none;
  }